.ModalYesNoDiv{
    display: flex;
    justify-content: center;
}
.ModalYesNoDiv2{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.acept{
    background: #fb923c;
    color:#262626;
    padding: 0 2rem;
}
.acept:hover{
    background: #fdba74;
}
.cancel{
    color:#fb923c;
    padding: .6rem 2rem;
}

/* fb923c */
/* hover fdba74 */
/* 262626 */


/* bg-rose-600 md:w-1/2 px-24 text-gray-100 rounded-lg hover:bg-rose-500 transition-all duration-100 py-3 mx-auto */